body { margin: 0; }
main { width: 100vw; }

main > * {
  padding: 0.8em;
  color: slateblue;
  background-color: lavender;
}
.sec-2 div {
  /* display: none; */
  margin: 1em;
  padding: 1.6em;
  line-height: 2.4em;
  font-family: serif;
  color: #555;
  background-color: white;
}

main{
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  grid-template-rows: 80px 200px auto 200px;
  gap: 12px;
}

nav{
  grid-column: 1/-1;
}
footer{
  grid-column: 1/-1;
}
aside{
  grid-row: 2/4;
}
.sec-1{
  grid-column: 2/-1;
}

