ul > li:not(:last-child) {
  border-bottom: 1px solid black;
}

div{
  width:200px; height: 200px;
  border: 5px solid blue;
  border-radius: 50%;
}

.shadow{
  margin: 24px auto;
  width: 240px;
  height: 160px;
  border-radius: 24px;
  box-shadow:
  0.7px 4.9px 2.2px rgba(0, 0, 0, 0.005),
  1.8px 11.8px 5.3px rgba(0, 0, 0, 0.011),
  3.4px 22.3px 10px rgba(0, 0, 0, 0.017),
  6px 39.8px 17.9px rgba(0, 0, 0, 0.025),
  11.3px 74.4px 33.4px rgba(0, 0, 0, 0.037),
  27px 178px 80px rgba(0, 0, 0, 0.07)
;
}